<div class="container col-xxl-8 px-6 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-2 page-header">
    <div class="col-10 col-sm-8 col-lg-6">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" data-bs-toggle="modal" data-bs-target="#addMovieModal">Add a Movie</button>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" >All Movies</h1>
    </div>
  </div>
</div>

<div class="modal fade" id="addMovieModal" tabindex="-1" aria-labelledby="addMovieModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addMovieModal">Add a Movie</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="/insert_movie" method="post">
          <div class="mb-3">
            <label for="title_box" class="form-label">Title</label>
            <input type="text" class="form-control" id="title_box" name="query_title">
          </div>

          <div class="mb-3">
            <label for="year_box" class="form-label">Year</label>
            <input type="text" class="form-control" id="year_box" name="query_year">
          </div>

          <div class="mb-3">
            <label for="duration_box" class="form-label">Duration</label>
            <input type="text" class="form-control" id="duration_box" name="query_duration">
          </div>

          <div class="mb-3">
            <label for="description_box" class="form-label">Description</label>
            <textarea type="text" class="form-control" id="duration_box" name="query_description"></textarea>
          </div>

          <div class="mb-3">
            <label for="image_box" class="form-label">Image</label>
            <input type="text" class="form-control" id="image_box" name="query_image">
          </div>

          <div class="mb-3">
            <label for="director_name_box" class="form-label">Director</label>
            
            <select name="query_director_name" id="director_name_box" class="form-select" >
              <option  selected>Choose a Director</option>
              <% @list_of_movies.each do |movie| %>
                <option value="<%= movie.director_id %>"><%= movie.director.name %></option>
              <%end%>
            </select>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add movie</button>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>

<div class="container">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    
    <% @list_of_movies.each do |a_movie| %>
    <div class="col">
      <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" height="50%" width="50%" src="<%= a_movie.image %>" role="img">
        <div class="card-body">
          <div class="card-text">
          <strong><center> <%= a_movie.title %> (<%= a_movie.year %>) </center></strong>
          <p> <%= a_movie.description %> </p>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a type="submit" class="btn btn-sm btn-outline-secondary" href="/directors/<%= a_movie.director_id %>"><%= a_movie.director.name %></a>
              <a href="/movies/<%= a_movie.id %>" type="button" class="btn btn-sm btn-outline-secondary">Details</a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>
